<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Projet dev supervision</title>
        <link  href="../../static/style.css" rel="stylesheet" type="text/css">
    </head>

    <body>
        
        <h1><a href="/">Page de confirmation de suppression Equipement</a></h1>
    
        <nav>
            <ul>
                <li class="dropdown_menu"><a href="#">Module de configuration</a>
                <ul class="dropdown">
                    <li><a href="/config/add">Ajouter un équipement</a></li>
                    <li><a href="/config/del">Supprimer un équipement</a></li>
                    <li><a href="/config/mod">Modifier un équipement</a></li>
                </ul>
                </li>
                <li><a href="/surveillance">Module de surveillance</a>
                </li>
                <li><a href="/logs">Module de logs</a></li>
            </ul>
        </nav>
        
        <h2>Module de configuration</h2>

        <p>
            Equipement supprimé !</br>
            Nom : {{ eqpt.render_name }} </br>
        </p>

    </body>
</html>